<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/public/stylesheets/styeles.css"> -->
    <!-- we have to remove public in ejs pages  -->
    <link rel="stylesheet" href="/stylesheets/styeles.css">

</head>
<body>
    <h1>Hello my name is arjun kunwar.</h1>
    <h2>mt everest is <%= 8+8+4+8 %></h2>
<!-- for calculation in ejs -->
    
</body>
</html>